<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>foodName</key>
		<string>乐事</string>
		<key>foodImage</key>
		<string>leshi</string>
		<key>foodEnergy</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>南瓜粥</string>
		<key>foodImage</key>
		<string>ngz</string>
		<key>foodEnergy</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>牛肉</string>
		<key>foodImage</key>
		<string>beat</string>
		<key>foodEnergy</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>foodEnergy</key>
		<integer>125</integer>
		<key>foodImage</key>
		<string>peigen</string>
		<key>foodName</key>
		<string>培根</string>
	</dict>
	<dict>
		<key>foodName</key>
		<string>土豆</string>
		<key>foodImage</key>
		<string>potato</string>
		<key>foodEnergy</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>曲奇</string>
		<key>foodImage</key>
		<string>quqi</string>
		<key>foodEnergy</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>玉米</string>
		<key>foodImage</key>
		<string>corn</string>
		<key>foodEnergy</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>南瓜</string>
		<key>foodImage</key>
		<string>pumpkin</string>
		<key>foodEnergy</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>紫薯</string>
		<key>foodImage</key>
		<string>purplePotato</string>
		<key>foodEnergy</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>青椒</string>
		<key>foodImage</key>
		<string>pepper</string>
		<key>foodEnergy</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>foodName</key>
		<string>汉堡</string>
		<key>foodImage</key>
		<string>hanbao</string>
		<key>foodEnergy</key>
		<integer>400</integer>
	</dict>
</array>
</plist>
