<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>breakfast</key>
	<array>
		<dict>
			<key>foodImage</key>
			<string>pumpkin</string>
			<key>foodDataID</key>
			<string>2346</string>
			<key>foodName</key>
			<string>南瓜</string>
			<key>eatingWeight</key>
			<integer>50</integer>
			<key>eatingEnergy</key>
			<integer>211</integer>
			<key>createTime</key>
			<string>201804021309</string>
			<key>type</key>
			<string>1</string>
			<key>updateTime</key>
			<string>201809020804</string>
		</dict>
		<dict>
			<key>foodImage</key>
			<string>potato</string>
			<key>foodDataID</key>
			<string>2345</string>
			<key>foodName</key>
			<string>土豆</string>
			<key>eatingWeight</key>
			<integer>50</integer>
			<key>eatingEnergy</key>
			<integer>100</integer>
			<key>createTime</key>
			<string>201804021309</string>
			<key>type</key>
			<string>1</string>
			<key>updateTime</key>
			<string>201809020804</string>
		</dict>
	</array>
	<key>lunch</key>
	<array>
		<dict>
			<key>foodImage</key>
			<string>corn</string>
			<key>foodDataID</key>
			<string>2346</string>
			<key>foodName</key>
			<string>玉米</string>
			<key>eatingWeight</key>
			<integer>120</integer>
			<key>eatingEnergy</key>
			<integer>211</integer>
			<key>createTime</key>
			<string>201804021309</string>
			<key>type</key>
			<string>2</string>
			<key>updateTime</key>
			<string>201809020804</string>
		</dict>
	</array>
	<key>dinner</key>
	<array>
		<dict>
			<key>foodImage</key>
			<string>bananer</string>
			<key>foodDataID</key>
			<string>2348</string>
			<key>foodName</key>
			<string>香蕉</string>
			<key>eatingWeight</key>
			<integer>50</integer>
			<key>eatingEnergy</key>
			<integer>211</integer>
			<key>createTime</key>
			<string>201804021309</string>
			<key>type</key>
			<string>1</string>
			<key>updateTime</key>
			<string>201809020804</string>
		</dict>
	</array>
</dict>
</plist>
