<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>healthyHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E910F1C91FDF6C9800EED8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E910F1E11FDF6C9900EED8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E910F1EC1FDF6C9900EED8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
